
body {
  background-color: black;
  color: white;
}

button {
  background-color: grey;
  font-weight: bold;
  color: black;
}

img {
 -webkit-filter: invert(1);
 filter: invert(1);
  width:32px;
  height:32px;
}
